.mat-spacer{
  flex: 1 1 auto;
  margin: 10px 10px 10px 10px;
}

.h2-spacer {
  font-size: 18px;
  flex: 1 1 auto;
  margin: 10px;
}
.custom-div {
  color: white;
  background: linear-gradient(-45deg, #7a55bd, #634abe, #524abe, #5f60de);
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
}
