
/* UPPER CONTAINER */

.example-container{
  width: 100%;
  height: 370px;
  background-color: #d6e9ff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.32);
}

.title{
  color: rgba(0, 0, 0, 0.84);
  font-size: 35px;
  padding-top: 40px;
  text-align: center;
}

.title-money{
  color: rgba(0, 0, 0, 0.84);
  font-size: 40px;
  letter-spacing: 2px;
  text-align: center;
  padding-bottom: 15px;
}

.subtitle{
  color: rgba(0, 0, 0, 0.84);
  font-size: 17px;
  text-align: center;
}

.subtitle-li{
  color: rgba(0, 0, 0, 0.84);
  font-size: 17px;
  padding-left: 500px;
}

.subtitle-li-float{
  color: rgba(0, 0, 0, 0.84);
  position: absolute;
  font-size: 17px;
  padding-left: 950px;
}

.subtitle-imp{
  color: rgba(0, 0, 0, 0.84);
  padding-top: 20px;
  font-size: 18px;
  text-align: center;
}


/* LOWER CONTAINER */

.global-container {
  margin-left: 280px;
  padding-top: 50px;
  width: 950px;
  height: 500px;
}

.mat-mdc-table {
  width: 150px;
  max-height: 400px;
  overflow: auto;
}

.mat-column-name {
  height: 80px;
}

.button-return{
  font-size: 16px;
  width: 130px;
  height: 41px;
  margin-top: 40px;
  margin-left: 275px;
  margin-bottom: 40px;
}

.button-save{
  font-size: 16px;
  width: 130px;
  height: 41px;
  margin-top: 40px;
  margin-left: 125px;
  margin-bottom: 40px;
}

.schedule-title {
  text-align: center;
  padding-top: 1px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}
