.custom-div {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  padding: 2rem;
  color: white;
  background: linear-gradient(-55deg, #8060bd, #634abe, #5d55c4, #6e6fd7);
  background-size: 100% 100%;
  animation: gradient 15s ease infinite;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.example-card {
  background-color: #e8eafa;
  border-radius: 1rem;
  padding: 10px 10px 10px 10px;
}

.title-card {
  font-size: 1.2rem;
  color: black;
  padding-bottom: 1rem;
}

.content-card {
  line-height: 1.7rem;
  padding-top: 6px;
}

.example-card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 0.3s ease-in;
  background-color: #ffffff;
}
