<!--<app-navbar></app-navbar>-->
<div style="background-color: #e4efff; height: 100%; padding-top: 1rem">
  <div class="custom-div">
    <h3>
      Hola {{userName}} !
    </h3>
    <h1 style="font-size: 32px;">
      Cronogramas de pagos
    </h1>
    <h3>
      Consulta tus simulaciones guardadas aqui.
    </h3>
  </div>
  <div class="card-container">
    <div *ngFor="let element of ELEMENT_DATA" >
      <mat-card class="example-card" style="margin: 0.5rem 2rem 1rem 2rem; box-shadow: 5px 5px 10px -5px rgba(0, 0, 0, 0.1), 0px 4px 6px -2px rgba(0, 0, 0, 0.05);">
        <mat-card-header>
          <mat-card-title-group>
            <mat-card-title class="title-card">{{ element.name }}</mat-card-title>
            <mat-card-subtitle>Detalles</mat-card-subtitle>
            <button style="background-color: #524ABEFF" mat-flat-button color="primary" (click)="openDialog(element)">Mostrar</button>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="content-card">
          <div>
            Cuota: {{element.cuota}}
          </div>
          <div>
            VAN: {{element.van}}
          </div>
          <div>
            TIR: {{element.tir}} %
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div *ngIf="ELEMENT_DATA.length==0" style="margin: 2rem; display: flex;justify-content: center">
    <h1 style="color: #343434">Aun no tienes schedules guardados!</h1>
  </div>
  <div style="display: flex;justify-content: right;margin: 2rem">
    <button style="width: 7rem;font-size: medium;margin-right: 1rem" mat-button color="primary" (click)="return()">Retroceder</button>
  </div>
</div>

