
<app-navbar></app-navbar>

<div>
    <div class="global-container" *ngIf="!this.calculateSend">
        <div class="card">
          <mat-card class="container-card" *ngIf="stepper==true">
            <div class="margin-horizontal" >
              <h1 style="font-weight: inherit; font-size: 32px">Simulador de Préstamos</h1>
              <p>Paso 1 de 2</p>
              <p>Completa la siguiente información para simular tu préstamo</p>
            </div>
            <form [formGroup]="userFormGroup"  >
              <div style="display: flex; justify-content: center">
                <mat-form-field class= "form-field-username" appearance="fill" style="width: 90%; margin-top: 10px;">
                  <mat-label>Capital</mat-label>
                  <input matInput autocomplete="off" formControlName="capital" type="number">
                  <mat-error *ngIf="userFormGroup.get('capital')?.hasError('required')">
                    Monto/Capital es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="userFormGroup.get('capital')?.hasError('min') || userFormGroup.get('capital')?.hasError('max')	">
                    Ingrese el rango de capital <strong>permitido</strong>
                  </mat-error>
                </mat-form-field>
                <div style="display: flex; justify-content: center;  align-items: center">
                  <div class="tooltip"  ><mat-icon matSuffix>help</mat-icon>
                    <span class="tooltiptext">Capital dentro del rango de S/ 65,200 y S/ 464,200</span>
                  </div>
                </div>
              </div>

              <div style="display: flex; justify-content: center">
                <mat-form-field class= "form-field-username " appearance="fill" style="width: 90%; margin-top: 10px;">
                  <mat-label>Cuota Inicial (S/)</mat-label>
                  <input matInput autocomplete="off" formControlName="cuotaInicial" type="number">
                  <mat-error *ngIf="userFormGroup.get('cuotaInicial')?.hasError('required')">
                    Cuota Inicial es <strong>requerida</strong>
                  </mat-error>

                  <mat-error *ngIf="userFormGroup.get('cuotaInicial')?.hasError('cuotaInicialInvalida')">
                    Ingrese el rango de cuota inicial <strong>permitido</strong>
                  </mat-error>

                  <mat-error *ngIf="userFormGroup.get('cuotaInicial')?.hasError('cuotaInicialInvalidaMax')">
                    Cuota Inicial <strong>sobrepasa</strong> el capital
                  </mat-error>

                </mat-form-field>
                <div style="display: flex; justify-content: center;  align-items: center">
                  <div class="tooltip"  ><mat-icon matSuffix>help</mat-icon>
                    <span class="tooltiptext">Monto monetario mayor al 7.5% del capital</span>
                  </div>
                </div>
              </div>

              <div style="display: flex; justify-content: center">
                <mat-form-field class= "form-field-username" appearance="fill" style="width: 90%;margin-top: 10px;">
                  <mat-label>Tipo de Tasa</mat-label>
                  <mat-select formControlName="tipotasa">
                    <mat-option *ngFor="let tipetasa of tipetasa" [value]="tipetasa.viewValue">
                      {{tipetasa.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="userFormGroup.get('tipotasa')?.hasError('required')">
                    Tipo de tasa <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
                <div style="display: flex; justify-content: center;  align-items: center">
                  <div class="tooltip"><mat-icon matSuffix>help</mat-icon>
                    <span class="tooltiptext">Eliga su tipo de tasa.</span>
                  </div>
                </div>
              </div>
              <div style="display: flex; justify-content: center">
                <mat-form-field class= "form-field-username" appearance="fill" style="width: 90%; margin-top: 10px;">
                  <mat-label>Tasa de Interes Anual (%)</mat-label>
                  <input matInput autocomplete="off" formControlName="tasa" type="number">
                  <mat-error *ngIf="userFormGroup.get('tasa')?.hasError('required')">
                    Tasa de Interes es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="userFormGroup.get('tasa')?.hasError('min') || userFormGroup.get('tasa')?.hasError('max')	">
                    Ingrese el rango de tasa <strong>permitido</strong>
                  </mat-error>

                </mat-form-field>
                <div style="display: flex; justify-content: center;  align-items: center">
                  <div class="tooltip"  ><mat-icon matSuffix>help</mat-icon>
                    <span class="tooltiptext">La tasa mínima es de 4% y la máxima de 44.99%.</span>
                  </div>
                </div>
              </div>
              <div style="display: flex; justify-content: center">
                <mat-form-field class= "form-field-username" appearance="fill" style="width: 90%; margin-top: 10px;">
                  <mat-label>Tiempo (Meses)</mat-label>
                  <input matInput autocomplete="off" formControlName="tiempo" type="number">
                  <mat-error *ngIf="userFormGroup.get('tiempo')?.hasError('required')">
                    Tiempo es <strong>requerido</strong>
                  </mat-error>
                  <mat-error *ngIf="userFormGroup.get('tiempo')?.hasError('min') || userFormGroup.get('tiempo')?.hasError('max')	">
                    Ingrese el rango de meses <strong>permitido</strong>
                  </mat-error>
                </mat-form-field>
                <div style="display: flex; justify-content: center;  align-items: center">
                  <div class="tooltip"  ><mat-icon matSuffix>help</mat-icon>
                    <span class="tooltiptext">El plazo debe estar entre 60 y 300 meses.</span>
                  </div>
                </div>
              </div>
              <div style="display: flex; justify-content: center">
                <mat-form-field class= "form-field-username" appearance="fill" style="width: 90%;margin-top: 10px;">
                  <mat-label>Tipo de moneda</mat-label>
                  <mat-select formControlName="moneda">
                    <mat-option *ngFor="let currency of currencys" [value]="currency.viewValue">
                      {{currency.viewValue}}
                    </mat-option>
                  </mat-select>
                  <mat-error *ngIf="userFormGroup.get('moneda')?.hasError('required')">
                    Tipo de moneda <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
                <div style="display: flex; justify-content: center;  align-items: center">
                  <div class="tooltip"  ><mat-icon matSuffix>help</mat-icon>
                    <span class="tooltiptext">Eliga su tipo de moneda.</span>
                  </div>
                </div>
              </div>
          </form>
            <div style="display: flex; justify-content: center" class="padding-vertical">
              <button mat-raised-button color="primary" class="button-login" style="width: 90%; height: 50px;" (click)="next()">Continuar</button>
            </div>
          </mat-card>
          <mat-card class="container-card" *ngIf="stepper==false">
            <div style="display: flex">
              <button (click)="this.stepper=true" style="margin-left: 35px;margin-bottom: 0; color: #6d42ba;font-weight: bolder; text-decoration: none;" mat-button>< Regresar</button>
            </div>
            <div class="margin-horizontal">
              <h1 style="font-weight: inherit; font-size: 32px">Simulador de Préstamos</h1>
              <p>Paso 2 de 2</p>
              <p>Completa la siguiente información para simular tu préstamo</p>
            </div>
            <form [formGroup]="PayFormGroup" style="margin: 30px">
              <p>Fechas de pago</p>
              <div  style="display: flex;justify-content: space-between; padding-bottom: 1rem" >
                <div style="width: 47%; margin-top: 10px">
                  <mat-form-field color="primary" appearance="fill" style="width: 100%;" >
                    <mat-label>Fecha de solicitud</mat-label>

                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="dp_" formControlName="fechaSolicitud" (dateChange)="showDate(dp_)">
                    <mat-datepicker-toggle matIconSuffix [for]="dp_"></mat-datepicker-toggle>
                    <mat-datepicker #dp_></mat-datepicker>

                    <mat-error *ngIf="PayFormGroup.get('fechaSolicitud')?.hasError('required')">
                      Fecha de pago es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div style="width: 47%; margin-top: 10px">
                  <mat-form-field appearance="fill"  style="width: 100%">
                    <mat-label>Dia de pago</mat-label>
                    <input matInput type="number" formControlName="diaDePago">
                    <mat-error *ngIf="PayFormGroup.get('diaDePago')?.hasError('required')">
                      El dia de pago es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="PayFormGroup.get('diaDePago')?.hasError('min') || PayFormGroup.get('diaDePago')?.hasError('max')	">
                      Ingrese un dia <strong>valido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div style="display: flex;padding-bottom: 20px">
                <p style="padding-top: 20px">Periodo de gracia </p>
                <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                  <mat-button-toggle (click)="setGracePeriod('Cero')" checked >Cero</mat-button-toggle>
                  <mat-button-toggle (click)="setGracePeriod('Parcial')">Parcial</mat-button-toggle>
                  <mat-button-toggle (click)="setGracePeriod('Total')" >Total</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <form [formGroup]="gracePeriodFormGroup" *ngIf="this.gracePeriod!='Cero'" >
                <div style="display: flex; width: 90%; justify-content: space-between">
                  <mat-form-field appearance="fill"  style="width: 52%; margin-top: 10px;">
                    <mat-label>Periodo de gracias (meses)</mat-label>
                    <input matInput type="number" formControlName="meses">

                    <mat-error *ngIf="gracePeriodFormGroup.get('meses')?.hasError('required')">
                      Numero de meses es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="gracePeriodFormGroup.get('meses')?.hasError('min')">
                      Mes <strong>invalido</strong>
                    </mat-error>
                    <mat-error *ngIf="gracePeriodFormGroup.get('meses')?.hasError('periodoGraciaInvalido')">
                      Periodo de Gracia <strong>supera</strong> el tiempo del prestamo
                    </mat-error>

                  </mat-form-field>
                </div>
              </form>

              <p>Seguros</p>
              <div style="display: flex;justify-content: space-between; padding-bottom: 1rem" >
                <div style="width: 47%; margin-top: 10px">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Seguro contra todo Riesgo (%)</mat-label>
                    <input matInput type="number" formControlName="seguro_riesgo">
                    <mat-error *ngIf="PayFormGroup.get('seguro_riesgo')?.hasError('required')">
                      Porcentaje es <strong>requerido</strong>
                    </mat-error>
                    <mat-error *ngIf="PayFormGroup.get('seguro_riesgo')?.hasError('min')	">
                      Ingrese un porcentaje <strong>permitido</strong>
                    </mat-error>
                    <mat-error *ngIf="PayFormGroup.get('seguro_riesgo')?.hasError('max')	">
                      Ingrese un porcentaje <strong>permitido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
                <div style="width: 47%; margin-top: 10px">
                  <mat-form-field appearance="fill" style="width: 100%">
                    <mat-label>Seguro de Desgravamen</mat-label>
                    <mat-select formControlName="seguro">
                      <mat-option *ngFor="let desgravamen of desgravamens" [value]="desgravamen.viewValue">
                        {{desgravamen.viewValue}}
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="PayFormGroup.get('seguro')?.hasError('required')">
                      Seguro de desgravamen es <strong>requerido</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <form [formGroup]="bornDatesFormGroup" *ngIf="this.PayFormGroup.get('seguro')?.value!='' && this.PayFormGroup.get('seguro')?.value!='Sin seguro'" style="display: flex;justify-content: space-between; margin-bottom: 1rem">
                <mat-form-field *ngIf="this.PayFormGroup.get('seguro')?.value!='Sin seguro'" color="primary" appearance="fill" style="width: 47%">
                  <mat-label style="font-size: 14px;">Fecha de nacimiento primer titular</mat-label>
                  <input matInput [max]="maxDate_m" [matDatepicker]="picker2" formControlName="primerTitular" (dateChange)="showDate(picker2)">
                  <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2 color="primary"></mat-datepicker>
                  <mat-error *ngIf=" bornDatesFormGroup.get('primerTitular')?.hasError('required') ">
                    Fecha <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
                <mat-form-field *ngIf="this.PayFormGroup.get('seguro')?.value=='Convencional mancomunado'||this.PayFormGroup.get('seguro')?.value=='Con devolución mancomunado' " color="primary" appearance="fill" style="width: 47%">
                  <mat-label style="font-size: 14px;">Fecha de nacimiento segundo titular</mat-label>
                  <input matInput [max]="maxDate_m" [matDatepicker]="picker3" formControlName="segundoTitular" (dateChange)="showDate(picker3)">
                  <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                  <mat-datepicker #picker3 color="primary"></mat-datepicker>
                  <mat-error *ngIf="bornDatesFormGroup.get('segundoTitular')?.hasError('required')">
                    Fecha <strong>requerida</strong>
                  </mat-error>
                </mat-form-field>
              </form>

              <p>Costos de Oportunidad</p>
              <div  style="display: flex;justify-content: space-between; padding-bottom: 1rem" >
                <div style="width: 47%; margin-top: 10px">
                  <form [formGroup]="COKGroup" >
                    <mat-form-field appearance="fill" style="width: 100%">
                      <mat-label>Tasa de descuento (%)</mat-label>
                      <input matInput type="number" formControlName="valor">
                      <mat-error *ngIf="COKGroup.get('valor')?.hasError('required')">
                        Porcentaje es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="COKGroup.get('valor')?.hasError('min')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                      <mat-error *ngIf="COKGroup.get('valor')?.hasError('max')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                  </form>
                </div>
              </div>

              <p>Gastos Compensatorios</p>

              <div style="margin-bottom: 1rem;margin-top: 0.5rem">
                <div>
                  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle (click)="setInputCategory('Gastos')" checked>Gastos</mat-button-toggle>
                    <mat-button-toggle (click)="setInputCategory('Tasas')">Tasas</mat-button-toggle>
                    <mat-button-toggle (click)="setInputCategory('Retencion')">Retencion de Fondos</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <div *ngIf=" this.compensatoryTasaArray.length<1 && this.category=='Tasas'">
                  <form [formGroup]="CompensatoryTasaGroup">
                    <mat-form-field appearance="fill" style="width: 54%;margin-top: 20px;" >
                      <mat-label >Tasa Compensatoria (Nombre)</mat-label>
                      <input matInput formControlName="nombre">
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 30%;margin-top: 20px;">
                      <mat-label>%</mat-label>
                      <input matInput type="number" formControlName="valor">
                      <mat-error *ngIf="CompensatoryTasaGroup.get('valor')?.hasError('required')">
                        Porcentaje es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryTasaGroup.get('valor')?.hasError('min') || CompensatoryTasaGroup.get('valor')?.hasError('max')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                </div>
                <div *ngIf="this.category=='Gastos'">
                  <form [formGroup]="CompensatoryAdministracionGroup" *ngIf="selectedGasto=='Gastos administrativos'" >
                    <mat-form-field style="width: 20%;margin-top: 20px;">
                      <mat-label>Tipo de gasto</mat-label>
                      <mat-select (selectionChange)="onGastoSelectionChange($event)" [(value)]="selectedGasto">
                        <mat-option class="mat-option-drop" *ngFor="let gasto of gastos" [value]="gasto.viewValue">
                          {{gasto.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 20%;margin-top: 20px;">
                      <mat-label >S/.</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatoryAdministracionGroup.get('valor')?.hasError('required')">
                        Monto es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryAdministracionGroup.get('valor')?.hasError('min')	">
                        Ingrese un monto <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                  <form [formGroup]="CompensatoryComisionGroup" *ngIf="selectedGasto=='Comisiones'" >
                    <mat-form-field style="width: 20%;margin-top: 20px;">
                      <mat-label>Tipo de gasto</mat-label>
                      <mat-select (selectionChange)="onGastoSelectionChange($event)" [(value)]="selectedGasto">
                        <mat-option *ngFor="let gasto of gastos" [value]="gasto.viewValue">
                          {{gasto.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 20%;margin-top: 20px;">
                      <mat-label >S/.</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatoryComisionGroup.get('valor')?.hasError('required')">
                        Monto es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryComisionGroup.get('valor')?.hasError('min')	">
                        Ingrese un monto <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                  <form [formGroup]="CompensatorySeguroGroup" *ngIf="selectedGasto=='Seguros'" >
                    <mat-form-field style="width: 20%;margin-top: 20px;">
                      <mat-label>Tipo de gasto</mat-label>
                      <mat-select (selectionChange)="onGastoSelectionChange($event)" [(value)]="selectedGasto">
                        <mat-option *ngFor="let gasto of gastos" [value]="gasto.viewValue">
                          {{gasto.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 20%;margin-top: 20px;">
                      <mat-label >%</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatorySeguroGroup.get('valor')?.hasError('required')">
                        Porcentaje es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatorySeguroGroup.get('valor')?.hasError('min')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatorySeguroGroup.get('valor')?.hasError('max')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                  <form [formGroup]="CompensatoryPenalidadGroup" *ngIf="selectedGasto=='Penalidad'" >
                    <mat-form-field style="width: 20%;margin-top: 20px;">
                      <mat-label>Tipo de gasto</mat-label>
                      <mat-select (selectionChange)="onGastoSelectionChange($event)" [(value)]="selectedGasto">
                        <mat-option *ngFor="let gasto of gastos" [value]="gasto.viewValue">
                          {{gasto.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 20%;margin-top: 20px;">
                      <mat-label >%</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatoryPenalidadGroup.get('valor')?.hasError('required')">
                        Porcentaje es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryPenalidadGroup.get('valor')?.hasError('min')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryPenalidadGroup.get('valor')?.hasError('max')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                  <form [formGroup]="CompensatoryFormalizacionGroup" *ngIf="selectedGasto=='Gastos de formalización'" >
                    <mat-form-field style="width: 20%;margin-top: 20px;">
                      <mat-label>Tipo de gasto</mat-label>
                      <mat-select (selectionChange)="onGastoSelectionChange($event)" [(value)]="selectedGasto">
                        <mat-option *ngFor="let gasto of gastos" [value]="gasto.viewValue">
                          {{gasto.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 20%;margin-top: 20px;">
                      <mat-label >S/</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatoryFormalizacionGroup.get('valor')?.hasError('required')">
                        Monto es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryFormalizacionGroup.get('valor')?.hasError('min')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                  <form [formGroup]="CompensatoryPortesGroup" *ngIf="selectedGasto=='Portes'" >
                    <mat-form-field style="width: 20%;margin-top: 20px;">
                      <mat-label>Tipo de gasto</mat-label>
                      <mat-select (selectionChange)="onGastoSelectionChange($event)" [(value)]="selectedGasto">
                        <mat-option *ngFor="let gasto of gastos" [value]="gasto.viewValue">
                          {{gasto.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 20%;margin-top: 20px;">
                      <mat-label >S/</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatoryPortesGroup.get('valor')?.hasError('required')">
                        Monto es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryPortesGroup.get('valor')?.hasError('min')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px; margin-bottom: 15px">Agregar</button>
                  </form>
                  <form [formGroup]="CompensatoryAdicionalGroup" *ngIf="selectedGasto=='Otros costos adicionales'" >
                    <mat-form-field style="width: 20%;margin-top: 20px;">
                      <mat-label>Tipo de gasto</mat-label>
                      <mat-select (selectionChange)="onGastoSelectionChange($event)" [(value)]="selectedGasto">
                        <mat-option *ngFor="let gasto of gastos" [value]="gasto.viewValue">
                          {{gasto.viewValue}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 20%;margin-top: 20px;">
                      <mat-label >S/</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatoryAdicionalGroup.get('valor')?.hasError('required')">
                        Monto es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryAdicionalGroup.get('valor')?.hasError('min')	">
                        Ingrese un porcentaje <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                </div>
                <div *ngIf="this.category=='Retencion' && this.compensatoryRetencionArray.length<1">
                  <form [formGroup]="CompensatoryRetencionGroup"  >
                    <mat-form-field appearance="fill" style="width: 54%;margin-top: 20px;" >
                      <mat-label>Retencion de Fondos (Nombre)</mat-label>
                      <input matInput formControlName="nombre">
                      <mat-error *ngIf="CompensatoryRetencionGroup.get('nombre')?.hasError('required')">
                        Nombre es <strong>requerido</strong>
                      </mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="fill" style="width: 30%;margin-top: 20px;">
                      <mat-label >%</mat-label>
                      <input matInput formControlName="valor" type="number">
                      <mat-error *ngIf="CompensatoryRetencionGroup.get('valor')?.hasError('required')">
                        Monto es <strong>requerido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryRetencionGroup.get('valor')?.hasError('min')	">
                        Ingrese un monto <strong>permitido</strong>
                      </mat-error>
                      <mat-error *ngIf="CompensatoryRetencionGroup.get('valor')?.hasError('max')	">
                        Ingrese un monto <strong>permitido</strong>
                      </mat-error>
                    </mat-form-field>
                    <button dis mat-raised-button color="primary" (click)="addCompensatory()" style="height: 50px;margin-bottom: 15px">Agregar</button>
                  </form>
                </div>
              </div>
              <div *ngFor="let item of compensatoryTasaArray">
                <mat-card style="margin: 1rem;" *ngIf="this.category=='Tasas'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">TASA EFECTIVA MENSUAL (TEM)</p>
                      <p>{{ item.value }} %</p>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatoryRetencionArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Retencion'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">RETENCION DE FONDOS</p>
                      <p>{{ item.value }} %</p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'null')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatoryAdministrativosArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Gastos'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">GASTOS ADMINISTRATIVOS</p>
                      <p>S/ {{ item.value }} </p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'Gastos administrativos')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatorySegurosArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Gastos'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">SEGUROS</p>
                      <p>{{ item.value }} %</p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'Seguros')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatoryPenalidadArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Gastos'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">PENALIDAD</p>
                      <p>{{ item.value }} %</p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'Penalidad')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatoryPortesArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Gastos'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">PORTES</p>
                      <p>S/ {{ item.value }}</p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'Portes')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatoryFormalizacionArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Gastos'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">GASTOS DE FORMALIZACION</p>
                      <p>S/ {{ item.value }}</p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'Gastos de formalización')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatoryComisionArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Gastos'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">COMISION</p>
                      <p>S/ {{ item.value }} </p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'Comisiones')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <div *ngFor="let item of compensatoryOtrosArray">
                <mat-card style="margin: 1rem" *ngIf="this.category=='Gastos'">
                  <mat-card-content style="display: flex; justify-content: space-between; align-items: center;">
                    <div>
                      <p style="font-weight: bolder">OTROS GASTOS</p>
                      <p>S/ {{ item.value }} </p>
                    </div>
                    <div>
                      <button mat-flat-button color="primary" (click)="deleteArrayElementByName(item.name,'Otros costos adicionales')" style="margin: auto;">Eliminar</button>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>
              <button mat-raised-button color="primary" class="button-login" style="width: 100%; height: 50px;" (click)="simulate()">Simular</button>
            </form>
          </mat-card>
        </div>
    </div>
    <div *ngIf="this.calculateSend"  style=" background-color: white; font-family: 'Poppins', sans-serif;">
      <div style="background-color: #6d42ba; color: white; display: block; text-align: center; justify-content: center;padding-top: 80px;padding-bottom: 50px">
        <h1 style="font-size: 40px; margin-top: 10px">Crédito Mi Vivienda</h1>
        <p style="margin-top: 10px">Importe solicitado</p>
        <h2 style="font-size: 40px; margin-top: 10px">S/ 100,000.00</h2>
        <div style="justify-content: center; font-weight: normal; font-size: 18px;">
          <div style="display: flex; justify-content: center">
            <div style="display: flex;justify-content: space-between; width: 25%; margin-top: 10px">
              <p>Cuota:</p>
              <p>{{this.cuota.toFixed(2)}}</p>
            </div>
          </div>
          <div style="display: flex; justify-content: center">
            <div style="display: flex;justify-content: space-between; width: 25%; margin-top: 10px">
              <p>Duración total:</p>
              <p>{{userFormGroup.get('tiempo')!.value}} meses</p>
            </div>
          </div>
          <div style="display: flex; justify-content: center">
            <div style="display: flex;justify-content: space-between; width: 25%; margin-top: 10px">
              <p>TCEA:</p>
              <p>{{(TCEA*100).toFixed(5)}} %</p>
            </div>
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center; font-family: 'Poppins', sans-serif; margin-top: 30px;">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" style="width: 80%;box-shadow: none;">
          <mat-expansion-panel-header>
            <mat-panel-description>
              <strong>Detalle del préstamo</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Importe solicitado:</p>
              <p class="p-detail">{{userFormGroup.get('capital')!.value}}</p>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Tasa de Interes Anual:</p>
              <p>{{this.tea}}%</p>
            </div>

            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Tasa de Interes Mensual:</p>
              <p>{{this.tasa_mensual.toFixed(7)}}%</p>
            </div>

          <div style="display: flex; justify-content: space-between; width: 100%">
            <div *ngIf="this.gracePeriod == 'Cero'" style="display: flex; justify-content: space-between; width: 100%">
              <p>Periodo de Gracia:</p>
              <p>Cero</p>
            </div>
            <div *ngIf="this.gracePeriod != 'Cero'" style="display: flex; justify-content: space-between; width: 100%">
              <div *ngIf="this.gracePeriod == 'Total'">
                <p>Periodo de Gracia Total:</p>
              </div>
              <div *ngIf="this.gracePeriod == 'Parcial'">
                <p>Periodo de Gracia Parcial:</p>
              </div>
              <p *ngIf="(gracePeriodFormGroup.get('meses')!.value)=='1'">{{gracePeriodFormGroup.get('meses')!.value}} mes</p>
              <p *ngIf="(gracePeriodFormGroup.get('meses')!.value)!='1'">{{gracePeriodFormGroup.get('meses')!.value}} meses</p>
            </div>
          </div>

            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Cuota:</p>
              <p>{{this.cuota.toFixed(2)}}</p>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Duración total:</p>
              <p>{{userFormGroup.get('tiempo')!.value}} meses</p>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Fecha de Solicitud:</p>
              <p>{{PayFormGroup.get('fechaSolicitud')!.value | customDate}}</p>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Días de pago:</p>
              <p>{{PayFormGroup.get('diaDePago')!.value}}</p>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Tipo de seguro:</p>
              <p>{{PayFormGroup.get('seguro')!.value}}</p>
            </div>
            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Porcentaje de Seguro de Desgravamen:</p>
              <p *ngIf="(PayFormGroup.get('seguro')?.value) == 'Convencional individual'">0.028%</p>
              <p *ngIf="(PayFormGroup.get('seguro')?.value) == 'Convencional mancomunado'">0.052%</p>
            </div>

            <div style="display: flex; justify-content: space-between; width: 100%">
              <p>Porcentaje de Seguro contra todo Riesgo:</p>
              <p>{{PayFormGroup.get('seguro_riesgo')?.value}}%</p>
            </div>

          <div style="display: flex; justify-content: space-between; width: 100%">
            <p>VAN:</p>
            <p>{{VAN}}</p>
          </div>
          <div style="display: flex; justify-content: space-between; width: 100%">
            <p>TIR:</p>
            <p>{{TIR}}</p>
          </div>
          <div style="display: flex; justify-content: space-between; width: 100%">
            <p>Tasa de Costo Efectivo Anual:</p>
            <p>{{(TCEA*100).toFixed(5)}} %</p>
          </div>
        </mat-expansion-panel>
      </div>
      <div style="display: flex;justify-content: center; margin-top: 10px; ">
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false" style="width: 80%; box-shadow: none;">
          <mat-expansion-panel-header>
            <mat-panel-description>
              <strong>Cronograma de Pagos</strong>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <table mat-table [dataSource]="ELEMENT_DATA" class="mat-elevation-z8" style="box-shadow: none;">

            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

            <!-- Position Column -->
            <ng-container matColumnDef="mes">
              <th mat-header-cell *matHeaderCellDef> Mes </th>
              <td mat-cell *matCellDef="let element"> {{element.mes}} </td>
            </ng-container>
            <ng-container matColumnDef="vencimiento">
              <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
              <td mat-cell *matCellDef="let element"> {{element.vencimiento | customDate}} </td>
            </ng-container>
            <ng-container matColumnDef="amortizacion">
              <th mat-header-cell *matHeaderCellDef> Amortizacion </th>
              <td mat-cell *matCellDef="let element"> {{element.amortizacion}} </td>
            </ng-container>
            <ng-container matColumnDef="interes">
              <th mat-header-cell *matHeaderCellDef> Interes </th>
              <td mat-cell *matCellDef="let element"> {{element.interes}} </td>
            </ng-container>
            <ng-container matColumnDef="comisiones">
              <th mat-header-cell *matHeaderCellDef> Comisiones </th>
              <td mat-cell *matCellDef="let element"> {{element.comisiones}} </td>
            </ng-container>
            <ng-container matColumnDef="seguro">
              <th mat-header-cell *matHeaderCellDef> Seguro </th>
              <td mat-cell *matCellDef="let element"> {{element.seguro}} </td>
            </ng-container>
            <ng-container matColumnDef="cuota">
              <th mat-header-cell *matHeaderCellDef> Cuota </th>
              <td mat-cell *matCellDef="let element"> {{element.cuota}} </td>
            </ng-container>
            <ng-container matColumnDef="saldo">
              <th mat-header-cell *matHeaderCellDef> Saldo </th>
              <td mat-cell *matCellDef="let element"> {{element.saldo}} </td>
            </ng-container>
            <ng-container matColumnDef="flujo">
              <th mat-header-cell *matHeaderCellDef> Flujo </th>
              <td mat-cell *matCellDef="let element"> {{element.flujo}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </mat-expansion-panel>
      </div>

      <div style="display: flex;justify-content: center; margin: 2rem">
        <div style="width: 80%;display:flex;justify-content: space-between">
          <div class="button-reload">
            <button mat-raised-button color="primary" (click)="addCompensatory()">Simular otro Prestamo</button>
          </div>
          <div class="button-save">
            <button mat-raised-button color="primary" (click)="addCompensatory()">Save</button>
          </div>
        </div>
      </div>


    </div>
  </div>
