@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container {
  background-color: #ffffff;
}

.global-container{
  padding-top: 30px;
  padding-bottom: 80px;
  margin: 0 auto;
  width: 900px;
  height: 900px;
  font-family: 'Poppins', sans-serif;
  display: flex;justify-content: center
}

.container-card{
  width: 100vh;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  border-radius: 5px;
  margin: 20px;
  padding: 20px;
}

.button-login{
  transform: translateX(-25px);
}

.padding-top{
  padding-top: 20px;
}

.padding-vertical{
  padding-top: 20px;
  padding-bottom: 20px;
}
.margin-horizontal{
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 40px;
}
.padding-general{
  padding: 30px 50px;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}
.line{
  border-bottom: 1px solid darkgray;
  margin: 20px 15px
}

.button-login{
  margin-left: 20px;
}

.form-field-username{
  padding-top: 15px;
}

.center {
  text-align: center;
}

.button-color{
  color: blueviolet;
}
mat-slide-toggle{
  margin-left: 1rem;
  margin-top: 0.3rem;
}
mat-button-toggle-group {
  margin-left: 12px;
}
.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
mat-form-field {
  margin-right: 12px;
}



/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 6px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

::ng-deep .mat-option-drop{
  font-size: 12px;
}

.custom-div {
  color: white;
  background: linear-gradient(-55deg, #8060bd, #634abe, #5d55c4, #6e6fd7);
  background-size: 100% 100%;
  animation: gradient 1s ease infinite;
  display: block; text-align: center; justify-content: center;padding-top: 80px;padding-bottom: 50px;
}
